# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
env/
.venv/

# ===============================
# Flask
# ===============================
instance/
*.log

# ===============================
# Environment Variables
# ===============================
.env

# ===============================
# Node / Frontend
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# Database
# ===============================
*.db
*.sqlite3
dump/
mongo_dump/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# Uploads
# ===============================
uploads/
*.pdf
*.docx
*.pptx

# ===============================
# Build / Cache
# ===============================
dist/
build/
.cache/
