<!DOCTYPE html>
<html>
<head>
  <title>Apply Role</title>
  <script>
  tailwind.config = {
    darkMode: 'class'
  }
</script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

<div class="max-w-xl mx-auto mt-10 bg-white p-6 rounded shadow">
  <h2 class="text-xl font-bold mb-4">Apply for {{ role.role_name }}</h2>

  <form method="POST">
    <input name="talent_name" placeholder="Your Name" class="w-full p-2 mb-3 border rounded" required>
    <input name="email" type="email" placeholder="Email" class="w-full p-2 mb-3 border rounded" required>
    <input name="skills" placeholder="Your Skills" class="w-full p-2 mb-4 border rounded" required>

    <button class="bg-blue-600 text-white w-full p-2 rounded">Submit Application</button>
  </form>
</div>

</body>
</html>
