{% extends "base.html" %}

{% block title %}
Apply Role
{% endblock %}

{% block page_title %}
Apply for {{ role.role_name }}
{% endblock %}

{% block page_subtitle %}
Submit your application details
{% endblock %}

{% block content %}

<div class="max-w-xl mx-auto dark-card">

<form method="POST">

<input
name="talent_name"
placeholder="Your Name"
class="w-full p-3 mb-3 border rounded bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-700"
required
>

<input
name="email"
type="email"
placeholder="Email"
class="w-full p-3 mb-3 border rounded bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-700"
required
>

<input
name="skills"
placeholder="Your Skills"
class="w-full p-3 mb-4 border rounded bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-700"
required
>

<button
class="bg-blue-600 hover:bg-blue-700 text-white w-full p-3 rounded transition">
Submit Application
</button>

</form>

</div>

{% endblock %}
