{% extends "base.html" %}

{% block title %}
Create Role
{% endblock %}

{% block page_title %}
Create Open Role
{% endblock %}

{% block page_subtitle %}
Add a new opportunity to your startup
{% endblock %}

{% block content %}

<div class="max-w-xl mx-auto dark-card">

<form method="POST">

<input
name="startup_title"
placeholder="Startup Title"
class="w-full p-3 mb-3 border rounded bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-700"
required
>

<input
name="role_name"
placeholder="Role Name"
class="w-full p-3 mb-3 border rounded bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-700"
required
>

<input
name="skills"
placeholder="Required Skills"
class="w-full p-3 mb-3 border rounded bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-700"
required
>

<textarea
name="description"
placeholder="Role Description"
class="w-full p-3 mb-4 border rounded bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-700">
</textarea>

<button
class="bg-blue-600 hover:bg-blue-700 text-white w-full p-3 rounded transition">
Create Role
</button>

</form>

</div>

{% endblock %}
