{% extends "base.html" %}

{% block title %}
Fund Startup
{% endblock %}

{% block page_title %}
Fund {{ startup.title }}
{% endblock %}

{% block page_subtitle %}
Submit your investment offer
{% endblock %}

{% block content %}

<div class="max-w-xl mx-auto dark-card">

<form method="POST">

<input
name="investor_name"
placeholder="Investor Name"
class="w-full p-3 mb-3 border rounded bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-700"
required
>

<input
name="amount"
placeholder="Funding Amount"
class="w-full p-3 mb-3 border rounded bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-700"
required
>

<input
name="equity"
placeholder="Equity (%)"
class="w-full p-3 mb-4 border rounded bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-700"
required
>

<button
class="bg-green-600 hover:bg-green-700 text-white w-full p-3 rounded transition">
Submit Offer
</button>

</form>

</div>

{% endblock %}
